<footer class="footer bg-white">
  <div class="container-fluid">
    <ul class="nav">
      <li class="nav-item">
        <a target="_blank" rel="noopener noreferrer" href="/"
          class="nav-link">
          <i class="material-icons">local_hospital</i>
          HIS - Hospital Information System
        </a>
      </li>
    </ul>
    <div class="copyright float-right">
      &copy;
      <span style="font-size: 12px;">
        <script>
          document.write(new Date().getFullYear())
        </script>
      </span>
      <span style="font-size: 10px;">developed by <button class="btn btn-default btn-link btn-sm"
          data-toggle="modal" data-target="#modal_alexis" style="font-size: 10px;">Alexis Rodriguez</button></span>
    </div>
    <div class="modal fade" id="modal_alexis" tabindex="-1" role="">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="card">
            <div class="modal-body">
              <p class="description text-center">Información Personal</p>
              <div class="card-body">
                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">face</i>
                    </span>
                    <h5>Alexis F. Rodriguez Villarroel</h5>
                  </div>
                </div>

                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">email</i>
                    </span>
                    <h5>alexisrodriguez.job@gmail.com</h5>
                  </div>
                </div>

                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="material-icons">phone_iphone</i>
                    </span>
                    <h5>+591 72647246</h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>