{% extends 'hospitalapp/base.html' %}
{% block title %} Cambiar Contraseña {% endblock %}
{% block content %}
{%load static%}
<div class="container">
    <div class="row justify-content-center">
        <form method="POST">
            <div class="card" style="width: 40rem">
                <div class="card-header">
                    <h4>Cambiar Contraseña</h4>
                </div>
                <div class="card-body">
                    {% csrf_token%}
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-8">
                            <label class="bmd-label-floating">Contraseña Antigua</label>
                            <input type="password" class="form-control" name="old_password" required />
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-8">
                            <label class="bmd-label-floating">Nueva Contraseña</label>
                            <input type="password" class="form-control" name="new_password1" required />
                        </div>
                    </div>
                    <div class="form-row justify-content-center">
                        <div class="form-group col-md-8">
                            <label class="bmd-label-floating">Nueva Contraseña(Confirmación)</label>
                            <input type="password" class="form-control" name="new_password2" required />
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <button class="btn btn-success" type="submit">Confirmar Cambio</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}