<!DOCTYPE html>
<html lang="en">
<head>
	<title>Welcome - HIS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{% load static %}

<!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="{% static 'loginapp/images/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginapp/vendor/bootstrap/css/bootstrap.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginapp/fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginapp/fonts/iconic/css/material-design-iconic-font.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginapp/vendor/animate/animate.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'loginapp/vendor/css-hamburgers/hamburgers.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginapp/vendor/animsition/css/animsition.min.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginapp/vendor/select2/select2.min.css' %}">
<!--===============================================================================================-->	
	<link rel="stylesheet" type="text/css" href="{% static 'loginapp/vendor/daterangepicker/daterangepicker.css' %}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'loginapp/css/util.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'loginapp/css/main.css' %}">
<!--===============================================================================================-->
</head>
<body>
	
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
					<span class="login100-form-title p-b-25">
						<img src="{% static 'assets/img/logo-his.png' %}" style="height: 160px;"/>
					</span>
					
                    <form method="POST">
                        {% csrf_token %}
                        <div class="wrap-input100 validate-input">
                            <input class="input100" type="text" name="username" required autocomplete="off">
                            <span class="focus-input100" data-placeholder="Usuario"></span>
                        </div>
    
                        <div class="wrap-input100 validate-input" data-validate="Enter password">
                            <span class="btn-show-pass">
                                <i class="zmdi zmdi-eye"></i>
                            </span>
                            <input class="input100" type="password" required name="password">
                            <span class="focus-input100" data-placeholder="Contraseña"></span>
                        </div>
						<h6 class="card-category">
							{% if msg %}
							  <span class="text-danger">{{ msg }}</span>
							{% endif %}  
						</h6>
                        <div class="container-login100-form-btn">
                            <div class="wrap-login100-form-btn">
                                <div class="login100-form-bgbtn"></div>
                                <button type="submit" class="login100-form-btn">
                                    Ingresar
                                </button>
                            </div>
                        </div>
                    </form>
			</div>
		</div>
	</div>
	

	<div id="dropDownSelect1"></div>
	
<!--===============================================================================================-->
	<script src="{% static 'loginapp/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginapp/vendor/animsition/js/animsition.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginapp/vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'loginapp/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginapp/vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginapp/vendor/daterangepicker/moment.min.js' %}"></script>
	<script src="{% static 'loginapp/vendor/daterangepicker/daterangepicker.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginapp/vendor/countdowntime/countdowntime.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'loginapp/js/main.js' %}"></script>

</body>
</html>