<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block tittle %}
    <title>Resultado de Cultivo</title>
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'baseapp/assets/img/hj.ico' %}" />
    <!-- Material Kit CSS -->
    <link href="{% static 'baseapp/assets/css/material-dashboard.css' %}" rel="stylesheet" />

    <style>
        html,
        body {
            width: auto;
            background-color: white;
        }

        #customers {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        #customers td,
        #customers th {
            border: 1px solid #ddd;
        }

        #customers th {
            padding-top: 2px;
            padding-bottom: 2px;
            padding: 4px;
            text-align: center;
            background-color: #04AA6D;
            color: white;
        }
    </style>
</head>

<body>
    <div class="card">
        <dvi class="card-header">
            <div class="row justify-content-center">
                <div class="col-sm text-center">
                    <img src="{% static 'baseapp/assets/img/logo-gobernacion.png' %}" alt="logo" width="150px;" />
                </div>
                <div class="col-sm text-center">
                    <h2 class="mt-2">Resultado de Cultivo</h2>
                </div>
                <div class="col-sm text-center">
                    <a href="/evolucion/result_cultivo/{{object.id_evolucionFK_id}}">
                    <img src="{% static 'baseapp/assets/img/logo_hospital.png' %}" alt="logo" width="80px;" />
                </a>
                </div>
            </div>
        </dvi>
        <div class="card-body">
            <div class="row text-center">
                <div class="col-sm">
                    <p><strong style="font-weight: bold;">Nombre y Apellido:</strong><br>
                        {{object.id_evolucionFK.id_historiaclinicaFK.id_pacienteFK.nombre }}
                        {{object.id_evolucionFK.id_historiaclinicaFK.id_pacienteFK.apellido_paterno }}
                        {{object.id_evolucionFK.id_historiaclinicaFK.id_pacienteFK.apellido_materno }}</p>
                </div>
                <div class="col-sm">
                    <p><strong style="font-weight: bold;">Cama:</strong><br>{{ object.id_evolucionFK.nro_cama }}</p>
                </div>
                <div class="col-sm">
                    <p><strong style="font-weight: bold;">Fecha y Hora - evolución:</strong><br>{{ object.id_evolucionFK.fecha_hora|date:"d-m-Y" }}</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-sm">
                    <p><strong style="font-weight: bold;">Edad:</strong><br>
                        {{object.id_evolucionFK.id_historiaclinicaFK.id_pacienteFK.edad }}</p>
                </div>
                <div class="col-sm">
                    <p><strong style="font-weight: bold;">Dias en Area:</strong><br>{{ object.id_evolucionFK.dias_area }}</p>
                </div>
                <div class="col-sm">
                    <p><strong style="font-weight: bold;">Historia Clinica:</strong><br>
                        {{object.id_evolucionFK.id_historiaclinicaFK.cod_historiaclinica }}</p>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-sm text-center">
                    <div class="table-responsive">
                        <table id="customers">
                            <thead>
                                <tr>
                                    <th>Resultado Probable</th>
                                    <th>Patogeno</th>
                                    <th>Sensible</th>
                                    <th>Resistente</th>
                                    <th>Parcialmente Sensible</th>
                                    <th>Comentario</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ object.resultado_probable }}</td>
                                    <td>{{ object.patogeno }}</td>
                                    <td>{{ object.sensible }}</td>
                                    <td>{{ object.resistente }}</td>
                                    <td>{{ object.parcial_sensible }}</td>
                                    <td>{{ object.comentario }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
</body>

</html>